body {
    background-image: url(./assets/congruent_pentagon.png);
    background-size: cover;
}

@media screen and (max-width: 520px) { 
.col {
    padding: 0;
}
}

.card {
    display:inline-block;
}
